@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

 @main("About Us") {
      <!-- this css class is not part of bootstrap but is defined in /css/style.css -->
      <div class="starter-template">
        <h2>About us</h2>
        <p>Hi, our names are: Seán Dieter Eggert, Taylor McGrath and Seán EJ Guerrero, and we are the ones behind the Isle of Books website.</p><br>
        <p>This website was created for our year 2 project in our Computer Science course in the Tallaght Branch TU Dublin.</p><br>
        <p> Need more INFO</p>
          </div>
 }