@main("contactus") {
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="main.css">
		<h1>Contact Us</h1>
		
	</head>

	<body>
		<div class="test">
			<p></p>
				<br>
			<p>If you have any questions or issues please give us a call on <a class="phone-link" href="tel:00353850000000">+353 85 0000000</a>.</p>
				<br>
			<p>You can also contact us on our email if at <a href="mailto: isleofbooksITP@@gmail.com">isleofbooksITP@@gmail.com</a>.</p>
				<br>
			<p>If you would like to make any returns please contact the seller who you make your purchase from.</p>
				<br>
			<p>You can also<a href = "mailto:abc@@example.com?subject = Feedback&body = Message"> Send us Feedback </a>.</p>
		</div>
		
		<div class="logo">
			<a href="homepage.isleofbooks.com">
				<img src="logo.png" alt="Logo of Isle of Books" height="150" width="150" >
			</a>
		</div>
	</body>
</html>
}