@(submitFeedbackForm: Form[models.Feedback])
@import models._
@import helper._

@* The page will be based on the main template *@
@main("Submit Feedback") {

<h3>Give us Feedback</h3>

@* Use the views.html.helpers package to create the form *@
@form(action = routes.HomeController.sendFeedbackSubmit(), 'class -> "form-horizontal", 'role->"form", 'enctype -> "multipart/form-data") {
@CSRF.formField

@*  Build the form, adding an input for each field
Note the label parameter
*@
@* Hidden field for books id (used for updating) *@
@inputText(submitFeedbackForm("id"), '_label -> "", 'hidden -> "hidden")
@inputText(submitFeedbackForm("email"), '_label -> "Email",'class -> "form-control")
@inputText(submitFeedbackForm("name"), '_label -> "Name",'class -> "form-control")
@inputText(submitFeedbackForm("country"), '_label -> "Country",'class -> "form-control")
@inputText(submitFeedbackForm("message"), '_label -> "Message",'class -> "form-control")
<br><br>

<!-- Add a submit button -->
<div class="actions">
  <input type="submit" value="Submit feedback" class="btn btn-primary">
  <a href="@routes.HomeController.index()">
    <button class="btn btn-warning">Cancel</button>
  </a>
</div>
} <!-- End Form definition -->
}


